



body {
    
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 160% */


   color: #9A9A9A;


}



header.top-header .wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
}
.wrapper {
    /* display: flex;
   justify-content: space-between;
   align-items: center; */
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
   
}
.df {
   width: 100%;
   
   display: flex;
   justify-content: space-between;
   align-items: flex-start; 
}
.df-social {
   width: 100%;
   padding-top: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center; 
}
ul {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

}
header.top-header .wrapper nav.left-nav ul,
header.top-header .wrapper nav.right-nav ul {
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
   
 }
li, 
header.top-header .wrapper nav.left-nav ul li,
header.top-header .wrapper nav.right-nav ul li{
    margin-left: 16px;
    margin-right: 16px;
    list-style-type: none;
   
 }
a, 
header.top-header .wrapper nav.left-nav ul li a,
header.top-header .wrapper nav.right-nav ul li a{
   color: inherit;
   text-decoration: none;
   
 }
a:hover, 
header.top-header .wrapper nav.left-nav ul li a:hover,
header.top-header .wrapper nav.right-nav ul li a:hover{
   color: #FEA3AC;
   transition:all 300ms ease-in-out;
      
 }
header.top-header .wrapper nav.left-nav ul li a.active,
header.top-header .wrapper nav.right-nav ul li a.active{
   color: #FEA3AC;
   
      
 }
 .svg-style {
    position: relative;
 }
 .page-heading {
    position: relative;
    min-height: 400px;
    color: white;
    background-size: cover;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .page-heading.about-page {
    background: transparent url(../img/page.jpg) center center no-repeat;

    
 }
 .svg-style::before {
    content: "";
    height: 130px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/bottom.svg) center center no-repeat;
 }
 .svg-style::after {
    content: "";
    height: 110px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../img/top.svg) center center no-repeat;
 }
 .title {
        font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    /* identical to box height */


    color: #FFFFFF;
 }
 .subtitle {
         margin-top: -40px;
         font-family: 'Waiting for the Sunrise';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;


    color: #FFFFFF;

 }
 .box {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
 }
 .box-data {
    padding-left: 25px;
    padding-right: 25px;
 }
 .dummy {
    height: 40px;
 }
 h2 {
        font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */


    color: #433840;
 }
 .info {
        width: 1820px;
        min-height: 600px;
        /* margin-left: 50px;
        margin-right: 50px; */
      
         margin: 0 auto;
        background: #FEA3AC;
        margin-bottom: 60px;

 }
 .info-list {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .info-item {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    /* vertical-align: middle; */
 }
 .info-item:first-child {
    
    margin-left: 0;
 }
 .info-item:last-child {
    margin-right: 0;
    
 }
 .icon {
    width: 135px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
 }
 .count {
    font-family: 'Waiting for the Sunrise';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 99px;
    display: block;
    color: #DFEEB6;

 }
 h3 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */


    color: #FFFFFF;
 }
 .box-title {
   font-family: 'Quicksand';
   font-style: normal;
   font-weight: 700;
   font-size: 50px;
   line-height: 62px;
   /* identical to box height */


   color: #433840;
 }
 .subtitle02 {
   font-family: 'Waiting for the Sunrise';
   font-style: normal;
   font-weight: 300;
   font-size: 30px;
   line-height: 1px;
   /* identical to box height */


   color: #F7A1A8;
 }
.team {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}
.team-list {
   margin-top: 70px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.team-member {
   margin: 10px;
   width: 35%;
   background: #C9E3F4;
   border-radius: 5px;
   margin-bottom: 40px;
   margin-left: 150px;
   display: flex;
   align-items: center;
   justify-content: center;


}
.team-member:nth-child(2),
.team-member:nth-child(3) {
   background: #DFEEB6;
}
.team-member:nth-child(3),
.team-member:nth-child(4) {
   margin-left: 0;
   margin-right: 150px;
   
}
.team-member:nth-child(3) .image,
.team-member:nth-child(4) .image {
   order: 2;
   
}
.team-member:nth-child(3) .image img,
.team-member:nth-child(4) .image img {
   margin-left: 0;
   margin-right: -150px;
   
}
.image {
   border-radius: 100&;
   margin-left: -150px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.data {
   order: 1;
   padding: 10px;
   margin-right: 10px;
   margin-left: 0;
   /* text-align: right; */
}

.name {
   font-family: 'Quicksand';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 38px;
   /* identical to box height */


   color: #FFFFFF;
}
.post {
   font-family: 'Quicksand';
   font-style: normal;
   font-weight: 300;
   font-size: 20px;
   line-height: 25px;
   /* identical to box height */


   color: #433840;
}
.social {
}
.footer {
   /* height: 500px; */
   /* display: flex;
   flex-direction: column; */
   /* align-items: center;
   justify-content: center; */
   position: relative;
   /* margin-left: 50px;
   margin-right: 50px; */
   
}
.footer-img {
   /* position: absolute; */
   background: transparent url(../img/footer.png) center center no-repeat;
   height: 439px;
   width: 1920px;
   margin-left: 50px;
   margin-right: 50px;
   /* display: flex;
   align-items: center;
   justify-content: space-between; */

}

 .footer-min {
   position: relative;
   background: transparent url(../img/footer-min.png) center center no-repeat;
   height: 60px;
   width: 1920px;
   margin-left: 50px;
   margin-right: 50px;
 }
 .center {
   margin: -8px;
   position: absolute;
   top: 50%;
   left: 40%;
   transform: translate (-50%, -50%);
 }
 .pink {
   background: #FEA3AC;
   height: 60px;
   /* width: 1920px;
   margin-left: 50px;
   margin-right: 50px; */

 }
 .roll { position: relative; display: inline-block; }
.rollover { position: absolute; top: 0; left:0; }
.roll .rollover { display: none; }
.roll:hover .rollover { display: block; }


